// typescale
$headline: 6rem !default
$subheadline: 5rem !default
$h1: 3rem !default
$h2: 2.25rem !default
$h3: 1.5rem !default
$h4: 1.25rem !default
$h5: 1rem !default
$h6: 0.875rem !default
$h7: 0.75rem !default
$h8: 0.625rem !default

// spacing(Tachyons default based on powers of 2) - applied to paddings, margins, fixed widths/heights
$s1: 0.25rem
$s2: 0.5rem
$s3: 1rem
$s4: 2rem
$s5: 4rem
$s6: 8rem
$s7: 16rem

// colors
$color-0: hsl(0,0%,98%)
$color-1: hsl(0,0%,94%)
$color-2: hsl(0,0%,74%)
$color-3: hsl(0,0%,34%)

$orange: hsl(35,100%,50%)
$red: hsl(3,100%,59%)
$green: hsl(135,59%,49%)
$blue: hsl(211,100%,50%)
$yellow: hsl(48,100%,50%)
// generate color palette
$color-list: ("color-0":$color-0,"color-1":$color-1,"color-2":$color-2,"color-3":$color-3,"orange":$orange,"red":$red,"green":$green,"blue":$blue,"yellow":$yellow)

// box-shadows
$shadow: 0 1px 3px 0 rgba(0,0,0,.14), 0 1px 2px 0 rgba(0,0,0,.1)
$shadow-1: 0 4px 6px -1px rgba(0,0,0,.14), 0 2px 4px -1px rgba(0,0,0,.1)
$shadow-2: 0 10px 15px -3px rgba(0,0,0,.14), 0 4px 6px -2px rgba(0,0,0,.11)
$shadow-3: 0 20px 25px -5px rgba(0,0,0,.14), 0 10px 10px -5px rgba(0,0,0,.18)
$shadow-4: 0 25px 50px -12px rgba(0,0,0,.4)
// generate box-shadows
$shadow-list: ("shadow":$shadow,"shadow-1":$shadow-1,"shadow-2":$shadow-2,"shadow-3":$shadow-3,"shadow-4":$shadow-4)

// transitions
$animation-duration: .3s !default
$animation-timing: ease !default

// breakpoints (min-width only)
$bp-m: 40em
$bp-l: 60em
$bp-xl: 80em
