$white: #fff
$black: #000
$gray-0: #212529
$gray-1: #495057
$gray-2: #ced4da
$gray-3: #e9ecef
$gray-4: #f8f9fa

// generate color palette

$color-list: ("white":$white,"black":$black,"gray-0":$gray-0,"gray-1":$gray-1,"gray-2":$gray-2,"gray-3":$gray-3,"gray-4":$gray-4)

// transitions

$animation-duration: .3s !default
$animation-timing: ease !default

// breakpoints (min-width only)

$bp-m: 40em
$bp-l: 60em
$bp-xl: 80em
