$white: #fff
$red: rgb(238, 43, 44)
$green: rgb(47, 200, 58)
$blue: rgb(17, 102, 241)
$yellow: rgb(240, 196, 18)
$gray-0: #f4f4f5
$gray-1: #dfe1e5
$gray-2: #68708b
$gray-3: #3c4050

// generate color palette

$color-list: ("white":$white,"red":$red,"green":$green,"blue":$blue,"yellow":$yellow,"gray-0":$gray-0,"gray-1":$gray-1,"gray-2":$gray-2,"gray-3":$gray-3)

// transitions

$animation-duration: .3s !default
$animation-timing: ease !default

// breakpoints (min-width only)

$bp-m: 40em
$bp-l: 60em
$bp-xl: 80em
