input, textarea, select, button {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    font-feature-settings: "ss03" on;
    outline: none;
    resize: vertical;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    transition: all var(--animation-duration) var(--animation-timing);
}

select {
    background-image: var(--select-icon);
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

select::-ms-expand {
    display: none
}

[type="checkbox"], [type="radio"] {
    user-select: none;
    background-origin: border-box;
    width: inherit;
    height: inherit;
    &:checked {
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

[type="checkbox"]:checked {
    background-image: var(--checkbox-icon);
}

[type="radio"]:checked {
    background-image: var(--radio-icon);
}

.button-reset::-moz-focus-inner, .input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button {
    user-select: none;
    -webkit-touch-callout: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}