table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border: none;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    border-color: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}